{% extends "layout.html" %}

{% block titulo%}
  <title>Ideias | CasaCriativa</title>
{%endblock%}

{% set bodyId = "page-ideas" %}

{% block conteudo %}
  <div id="container">
    <header>
      <a href="/">
        <img src="/logo.png" alt="">
      </a>
      <nav>
        <li><a href="/">Início</a></li>
        <li><a href="#" class="fat" onclick="onOff()">Nova ideia</a></li>
      </nav>
    </header>
    <main>
      <section id="title">
        <p>em exibição</p>
        <h1>Ideias</h1>
      </section>

      <section id="ideas">
        {% include "allIdeas.html" %}
      </section>
    </main>
    <footer>
      Com ♥️ <a href="http://rocketseat.com.br" target="_blank">Rocketseat</a>
    </footer>
  </div>
{%endblock%}